<!--
Mustache 문법 작성 시 출력 오류 발생, 출력을 위해 {} 한 개 작성, 실제 코드에서는 두 개로 작성해야 함.
header, footer 생략.
-->

<h1 style="text-align: center">구단주 정보</h1>

<div class="container mx-auto" style="margin-top: 150px; width: 1000px;">
    <h4 style="text-align: center">구단주 고유 식별 ID : {user.accessId}</h4>
    <h4 style="text-align: center">구단주 이름 : {user.nickname}</h4>
    <h4 style="text-align: center">구단주 레벨 : {user.level}</h4>
</div>